@model SalesDataProject.Models.AuthenticationModels.User
<h2 class="text-center my-4" style="color:black">Create User</h2>



<form asp-action="CreateUser" method="post" class="container p-4 border rounded shadow-sm" style="">
    <div class="form-row align-items-center" style="display:flex;flex-direction:column">
        <div class="col-md-4 mb-3">
            <label asp-for="Username" class="font-weight-bold">Username</label>
            <input type="text" asp-for="Username" class="form-control" placeholder="Enter username" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="col-md-4 mb-3">
            <label asp-for="Password" class="font-weight-bold">Password</label>
            <input type="password" asp-for="Password" class="form-control" placeholder="Enter password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="col-md-4 mb-3 form-check">
            <input type="checkbox" asp-for="CanAccessCustomer" class="form-check-input" />
            <label asp-for="CanAccessCustomer" class="form-check-label font-weight-bold">Access Customer Module</label>
        </div>

        <div class="col-md-4 mb-3 form-check">
            <input type="checkbox" asp-for="CanAccessSales" class="form-check-input" />
            <label asp-for="CanAccessSales" class="form-check-label font-weight-bold">Access Mailing Module</label>
        </div>
        <div class="col-md-4 mb-3 form-check">
            <input type="checkbox" asp-for="CanAccessUserManagement" class="form-check-input" />
            <label asp-for="CanAccessUserManagement" class="form-check-label font-weight-bold">Access Admin Module</label>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>

    
</form>

<style>
    h2 {
        color: #4A90E2;
    }

    form.container {
        background-color: #f8f9fa;
    }

    .form-group label {
        margin-bottom: 0.5rem;
    }

    .btn-primary {
        font-size: 1.1rem;
    }
</style>
